//- миксин иконки
//- png-иконки хранятся в папке static/images/pngSprite
//- svg-иконки в папке static/images/svgSprite
//- на выходе в верстке
//- вместо одиночных img или элементов с background-image
//- получаем по одному bundle-спрайту всех добавленных иконок на каждый формат (png/svg)
//- который с помощью background-image добавляется к элементу i
//- размеры иконки в верстке в таком случае изменяются с помощью font-size

mixin icon(iconName, type = 'png')
    if(type == 'png')
        i(class='icon '+'icon-'+iconName)
    else
        i(class='svg-icon '+'svg-'+iconName)

// preloader

mixin preloader(closed = false)
  div(class = closed ? "preloader--closed" : "").preloader
    .preloader__item.preloader__item--bottom
    .preloader__item.preloader__item--mid
    .preloader__item.preloader__item--top

// timer

mixin timer
  .timer
    span.timer__item.timer__item--hr 00
    | : 
    span.timer__item.timer__item--min 00
    | : 
    span.timer__item.timer__item--sec 00
    | : 
    span.timer__item.timer__item--msec 00