extends ../layouts/default.pug



block variables
    
    - const pageTitle = "Contentica";



block content

    +preloader

    .page

        script
            |var isCameraLoaded = false;


        img.camera(src="images/camera.png" alt="" onload="isCameraLoaded = true;")


        header.page__header

            .page__header-inner.header


                .header__line
                    
                    .header__line.header__line--left-top
                        +focus
                        .table.table--margin-left.table--left
                            .table__item
                                .table__item-name fps
                                .table__item-value 24
                            .table__item
                                .table__item-name shutter
                                .table__item-value 174.5º
                            .table__item
                                .table__item-name iris
                                .table__item-value t2.2
                    
                    .table.table--right-top
                        .table__item
                            .table__item-name iso
                            .table__item-value 400
                        .table__item
                            .table__item-name wb
                            .table__item-value 5600k
                        .table__item
                            .table__item-name tint
                            .table__item-value 10
                

                .header__line.header__line--margin-top
                
                    .logo.logo--in-header

                        img(src="images/contentica.svg" alt="logo").logo__img

                        ul.logo__lang-list
                            
                            li.logo__lang-item
                                
                                a(href="index.html").logo__lang-link ru
                            
                            li.logo__lang-item.logo__lang-item--active
                                
                                a(href="index-en.html").logo__lang-link en
                    
                    +timer("timer--right-top")
                

                h1.page-title.page-title--line-break.header__title
                    |We produce, 
                    br
                    |distribute, 
                    br
                    |dub, and subtitle 
                    br
                    |video content
                

                .header__line.header__line--bottom
                    .header__group.header__group--battery-scroll
                        +battery(0)
                        +scroll-down("scroll-down--margin-top", "en")
                    .header__line.header__line--align-end
                        +rec-indicator
                        .header__line.header__line--margin-left
                            +time-indicator("red")
                            +time-indicator("gray", "time-indicator--margin-left")
                    +color-indicator("color-indicator--flex-grow")
    

        main.page__main

            .page__main-inner.main
            
                section.main__section(data-section="0")
                    .main__section-content
                        video(preload="auto", playsinline, autoplay, loop, muted).main__section-video
                            source(src="https://www.dl.dropboxusercontent.com/s/ljm7hd1c25wynpw/%D0%BF%D1%80%D0%BE%D0%B8%D0%B7%D0%B2%D0%BE%D0%B4%D1%81%D1%82%D0%B2%D0%BE%20%D0%BF%D1%80%D0%BE%D0%B3%D1%80%D0%B0%D0%BC%D0%BC_1.mp4?dl=0" type="video/mp4")
                    h2.main__section-title
                        .main__section-size
                            |TV show 
                            br
                            |production
                            .main__section-service
                                span.main__section-line TV show 
                                br
                                span.main__section-line production
                        .main__section-description
                            .main__section-text
                                |Production of various TV shows for broadcasting and VOD platforms. We collaborate with both Russian and CIS TV channels. Constant production, high volume. Just ask us, and we will show you content that has been shot in recent months.
                section.main__section(data-section="1")
                    .main__section-content
                        video(preload="auto", playsinline, autoplay, loop, muted).main__section-video
                            source(src="https://www.dl.dropboxusercontent.com/s/njvwl2cgend00pq/distr.mp4?dl=0" type="video/mp4")
                    h2.main__section-title
                        .main__section-size
                            |Rights 
                            br
                            |distribution
                            .main__section-service
                                span.main__section-line Rights 
                                br
                                span.main__section-line distribution
                        .main__section-description
                            .main__section-text
                                |Distribution of all types of rights to video content. The annual contracts for more than 7,000 hours.
                section.main__section(data-section="2")
                    .main__section-content
                        video(preload="auto", playsinline, autoplay, loop, muted).main__section-video
                            source(src="https://www.dl.dropboxusercontent.com/s/6r62n59lbzbft9p/konsult.mp4?dl=0" type="video/mp4")
                    h2.main__section-title
                        .main__section-size
                            |TV grid 
                            br
                            |consulting
                            .main__section-service
                                span.main__section-line TV grid 
                                br
                                span.main__section-line consulting
                        .main__section-description
                            .main__section-text
                                |Fresh eyes on your TV grid: sometimes it's easier to see the solution from the outside. It can be either a single consultation on the line-up or regular ones, e.g. in the format of weekly briefings.
                section.main__section(data-section="3")
                    .main__section-content
                        video(preload="auto", playsinline, autoplay, loop, muted).main__section-video
                            source(src="https://www.dl.dropboxusercontent.com/s/5q6ejje69rrva66/04_recording.mp4?dl=0" type="video/mp4")
                    h2.main__section-title
                        .main__section-size
                            |Dubbing
                            .main__section-service
                                span.main__section-line Dubbing
                        .main__section-description
                            .main__section-text
                                |We have our own dubbing studio. We pay special attention to working with text. We collaborate with international networks, and if necessary, we can find a native speaker to voice over a text in almost any language in the world.
                section.main__section(data-section="4")
                    .main__section-content
                        video(preload="auto", playsinline, autoplay, loop, muted).main__section-video
                            source(src="https://www.dl.dropboxusercontent.com/s/x9mwuht3431hweo/subs.mp4?dl=0" type="video/mp4")
                    h2.main__section-title
                        .main__section-size
                            |Subtitling
                            .main__section-service
                                span.main__section-line Subtitling
                        .main__section-description
                            .main__section-text
                                |We have our own subtitle production studio. Our large permanent staff has gone through a rigorous selection process to ensure the highest standards of language proficiency.
                section.main__section(data-section="5")
                    .main__section-content
                        video(preload="auto", playsinline, autoplay, loop, muted).main__section-video
                            source(src="https://www.dl.dropboxusercontent.com/s/4dmddjhflwx3tbj/event.mp4?dl=0" type="video/mp4")
                    h2.main__section-title
                        .main__section-size
                            |Event 
                            br
                            |marketing
                            .main__section-service
                                span.main__section-line Event 
                                br
                                span.main__section-line marketing
                        .main__section-description
                            .main__section-text
                                |Offline and online events. We are experienced in working with representative offices of large international companies.
        

        footer.page__footer

            .page__footer-inner.footer
                .footer__group
                    .dot-link
                        .dot-link__link-track
                            a(href="tel: 8 495 639 99 24").dot-link__link +7 495 639-99-24
                            .dot-link__link-move
                            .dot-link__link-over-move
                        .dot-link__tail
                            .dot-link__dot-track
                                .dot-link__dot
                    .dot-link.dot-link--margin-top
                        .dot-link__link-track     
                            a(href="mailto: info@contentica.ru").dot-link__link info@contentica.ru
                            .dot-link__link-move
                            .dot-link__link-over-move
                        .dot-link__tail
                            .dot-link__dot-track
                                .dot-link__dot
                .footer__line.footer__line--align-end.footer__line--margin-top
                    .footer__group.footer__group--order--1
                        .footer__item.footer__item--font-size--30 Москва,
                            br
                            | Лужнецкая набережная,
                            br
                            | 2/4 строение 3, офис 107
                        .footer__item.footer__item--margin-top
                            a(href="https://yandex.ru/maps/-/CCQt6JhdgB").footer__link.footer__link--on-map.simple-link.simple-link--closed На карте
                    .footer__group.footer__group--margin-top
                        .footer__item.footer__item--font-size--18 © 2020 Contentica
                        a(href="https://www.cloudmill.ru/").footer__item.footer__item--margin-top.footer__item--font-size--18.simple-link.simple-link--closed Сайт сделан в 
                            span.footer__link.footer__link--cloudmill CloudMill

