extends ../layouts/default.pug

block variables
  -
    const pageTitle = "Contentica";

block content
  +preloader
  .page
    header.page__header
      .page__header-inner
        +timer
        .logo
          img(src="images/contentica.svg", alt="logo").logo__img
        +focus
        .table
          .table__item
            .table__item-name fps
            .table__item-value 24
          .table__item
            .table__item-name shutter
            .table__item-value 174.5º
          .table__item
            .table__item-name iris
            .table__item-value t2.2
        .table
          .table__item
            .table__item-name iso
            .table__item-value 400
          .table__item
            .table__item-name wb
            .table__item-value 5600k
          .table__item
            .table__item-name tint
            .table__item-value 10
        h1.page-title.page-title--line-break Производим, 
          br
          | дистрибутируем, 
          br
          | озвучиваем 
          br
          | и субтитрируем 
          br
          | видеоконтент
        +battery(0.75)
        +scroll-down
        +rec-indicator
        +time-indicator
        +time-indicator("red")
        +time-indicator("gray")
        +color-indicator
        .dot-link
          .dot-link__link-track
            a(href="tel: 8 495 639 99 24").dot-link__link +7 495 639-99-24
            .dot-link__link-move
            .dot-link__link-over-move
          .dot-link__tail
            .dot-link__dot-track
              .dot-link__dot
        .dot-link
          .dot-link__link-track     
            a(href="mailto: info@contentica.ru").dot-link__link info@contentica.ru
            .dot-link__link-move
            .dot-link__link-over-move
          .dot-link__tail
            .dot-link__dot-track
              .dot-link__dot
    main.page__main
    footer.page__footer

