extends ../layouts/default.pug

block variables
  -
    const pageTitle = "Contentica";

block content
  +preloader
  .page
    header.page__header
      .page__header-inner
        +timer
    main.page__main main
    footer.page__footer footer

