extends ../layouts/default.pug

block variables
  -
    const pageTitle = "Contentica";

block content
  +preloader
  img(src="images/camera.png", alt="").camera
  .page
    header.page__header
      .page__header-inner.header
        .header__line
          .header__line.header__line--left-top
            +focus
            .table.table--margin-left.table--left
              .table__item
                .table__item-name fps
                .table__item-value 24
              .table__item
                .table__item-name shutter
                .table__item-value 174.5º
              .table__item
                .table__item-name iris
                .table__item-value t2.2
          .table.table--right-top
            .table__item
              .table__item-name iso
              .table__item-value 400
            .table__item
              .table__item-name wb
              .table__item-value 5600k
            .table__item
              .table__item-name tint
              .table__item-value 10
        .header__line.header__line--margin-top
          .logo.logo--in-header
            img(src="images/contentica.svg", alt="logo").logo__img
          +timer("timer--right-top")
        h1.page-title.page-title--line-break.header__title
          | Производим, 
          br
          | дистрибутируем, 
          br
          | озвучиваем 
          br
          | и субтитрируем 
          br
          | видеоконтент
        .header__line.header__line--bottom
          .header__group.header__group--battery-scroll
            +battery(0)
            +scroll-down("scroll-down--margin-top")
          .header__line
            +rec-indicator
            .header__line.header__line--margin-left
              +time-indicator("red")
              +time-indicator("gray", "time-indicator--margin-left")
          +color-indicator("color-indicator--flex-grow")
    main.page__main
    footer.page__footer
      .page__footer-inner.footer
        .dot-link
          .dot-link__link-track
            a(href="tel: 8 495 639 99 24").dot-link__link +7 495 639-99-24
            .dot-link__link-move
            .dot-link__link-over-move
          .dot-link__tail
            .dot-link__dot-track
              .dot-link__dot
        .dot-link
          .dot-link__link-track     
            a(href="mailto: info@contentica.ru").dot-link__link info@contentica.ru
            .dot-link__link-move
            .dot-link__link-over-move
          .dot-link__tail
            .dot-link__dot-track
              .dot-link__dot
        .footer__line.footer__line--align-end.footer__line--padding-right.footer__line--margin-top
          .footer__group
            .footer__item © 2020 Contentica
            a(href="").footer__item.footer__item--margin-top.simple-link.simple-link--closed Сайт сделан в 
              span.footer__link.footer__link--cloudmill CloudMill
          .footer__group
            .footer__item.footer__item--font-size--30 Москва,
              br
              | Лужнецкая набережная,
              br
              | 2/4 дом 3, офис 107
            .footer__item.footer__item--margin-top
              a(href="").footer__link.footer__link--on-map.simple-link.simple-link--closed На карте
