// variables

$indicator-gap: 7px;

$list-gap: 5px;

$item-height: 20px;
$item-gap: 5px;

// color-indicator

.color-indicator {
  // min-width: 190px; // вычислено опытным путем
  max-width: 285px;

  @media (max-width: 1200px) {
    max-width: 210px;
  }

  @media (max-width: 640px) {
    max-width: 136px;
  }

  @media (max-width: 640px) {
    max-width: 136px;
  }

  @media (max-width: 480px) {
    max-width: 120px;
  }
}

.color-indicator--flex-grow {
  flex-grow: 1;
}

// color-indicator list

.color-indicator__list {}

// color-indicator item

.color-indicator__item {
  height: $item-height;
  display: flex;

  &:not(:first-child) {
    margin-top: $list-gap;

    @media (max-width: 480px) {
      $list-gap: 2px;

      margin-top: $list-gap;
    }
  }

  @media (max-width: 1200px) {
    $item-height: 13px;

    height: $item-height;
  }

  @media (max-width: 640px) {
    $item-height: 10px;

    height: $item-height;
  }

  @media (max-width: 480px) {
    $item-height: 8px;

    height: $item-height;
  }
}

// color-indicator item-number

.color-indicator__item-number {
  padding-top: 4px;
  width: 15px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  font-size: 20px;
  line-height: 90%;

  @media (max-width: 1200px) {
    font-size: 15px;
  }

  @media (max-width: 640px) {
    margin-right: -2px;
    padding-top: 2px;
    font-size: 10px;
  }

  @media (max-width: 480px) {
    font-size: 8px;
  }
}

.color-indicator__item-scale {
  flex-grow: 1;
  height: 100%;
  margin-left: $item-gap;

  @media (max-width: 1200px) {
    $item-gap: 0;

    margin-left: $item-gap;
  }
}

// color-indicator scale

.color-indicator__scale {
  margin-top: $indicator-gap;
  padding-left: 20px;
  display: flex;
  justify-content: space-between;

  @media (max-width: 640px) {
    $indicator-gap: 5px;

    margin-top: $indicator-gap;
    padding-left: 13px;
  }

  @media (max-width: 480px) {
    $indicator-gap: 3px;

    margin-top: $indicator-gap;
  }
}

// color-indicator scale-item

.color-indicator__scale-item {
  font-weight: 300;
  font-size: 9px;
  line-height: 90%;

  @media (max-width: 1200px) {
    font-size: 6px;
  }

  @media (max-width: 640px) {
    font-size: 4px;
  }
}