// variables

$indicator-gap: 7px;

$list-gap: 5px;

$item-height: 20px;
$item-gap: 5px;

// color-indicator

.color-indicator {
  min-width: 190px; // вычислено опытным путем
  max-width: 285px;
}

.color-indicator--flex-grow {
  flex-grow: 1;
}

// color-indicator list

.color-indicator__list {}

// color-indicator item

.color-indicator__item {
  height: $item-height;
  display: flex;

  &:not(:first-child) {
    margin-top: $list-gap;
  }
}

// color-indicator item-number

.color-indicator__item-number {
  padding-top: 4px;
  width: 15px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  font-size: 20px;
  line-height: 90%;
}

.color-indicator__item-scale {
  flex-grow: 1;
  height: 100%;
  margin-left: $item-gap;
}

// color-indicator scale

.color-indicator__scale {
  margin-top: $indicator-gap;
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
}

// color-indicator scale-item

.color-indicator__scale-item {
  font-weight: 300;
  font-size: 9px;
  line-height: 90%;
}