// MAIN

.main {
  padding-top: 250px;
  counter-reset: section-number;

  @media (max-width: 1200px) {
    padding-top: 0;
  }
}

// SECTION

.main__section {
  min-height: 75vh;
  display: flex;
  align-items: center;
  counter-increment: section-number;
  
  &:not(:first-child) {
    border-top: 1px solid rgba(255, 255, 255, 0.25);
  }

  @media (max-width: 1200px) {
    padding: 7.5vh 40px;
    // padding-bottom: 15vh;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    // justify-content: flex-start;
    
    &:last-child {
      border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    }
  }
}

// SECTION-TITLE

.main__section-title {
  position: relative;
  padding-left: 6.8%;
  font-weight: 300;
  font-size: 80px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  will-change: auto;

  &::before {
    content: "0"counter(section-number);
    display: block;
    font-size: 30px;
  }

  @media (max-width: 1200px) {
    padding-left: 0;
    margin-top: 50px;
  }
}

// SECTION-CONTENT - обертка для video

.main__section-content {
  position: absolute;
  right: 5%;
  max-width: 740px;
  max-height: 430px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 1200px) {
    position: static;
  }
}

// SECTION-VIDEO

.main__section-video {
  display: block;
  max-width: 100%;
  max-height: 100%;
}