// MAIN

.main {
  padding-top: 250px;
  counter-reset: section-number;

  @media (max-width: 1200px) {
    padding-top: 0;
  }
}

// SECTION

.main__section {
  min-height: 75vh;
  display: flex;
  align-items: center;
  counter-increment: section-number;

  @media (max-width: 1200px) {
    padding: 7.5vh 40px;
    // padding-bottom: 15vh;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    // justify-content: flex-start;
  }

  @media (max-width: 640px) {
    padding-left: 20px;
    padding-right: 20px;
    min-height: 75vh;
  }

  @media (max-width: 480px) {
    padding-left: 10px;
    padding-right: 10px;
  }

  @media (max-width: 370px) {
    padding-left: 0;
    padding-right: 0;
    min-height: 65vh;
  }
}

// SECTION-TITLE

.main__section-title {
  position: relative;
  // padding-left: 6.8%;
  font-weight: 300;
  font-size: 80px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  will-change: auto;
  pointer-events: none;
  transition: height 0.6s;
  user-select: none;

  &::before {
    content: "0"counter(section-number);
    display: block;
    font-size: 30px;
    transition: 0.6s;
    will-change: auto;
  }

  // NEW 
  &:hover {
    &::before {
      line-height: 20px;
      font-size: 20px;
    }

    .main__section-service {
      transform: translate(-50%, -50%) scale(0.6);
      user-select: text;
    }

    .main__section-description {
      opacity: 1;
      user-select: text;
    }
  }

  /// NEW

  @media (max-width: 1200px) {
    margin-top: 50px;
  }

  @media (max-width: 960px) {
    margin-top: 20px;
    font-size: 60px;

    &::before {
      font-size: 25px;
      line-height: 80px;
    }
  }

  @media (max-width: 640px) {
    margin-top: 5px;
    font-size: 45px;

    &::before {
      font-size: 18px;
      line-height: 65px;
    }
  }

  @media (max-width: 480px) {
    margin-top: 5px;
    font-size: 34px;

    &::before {
      font-size: 13px;
      line-height: 50px;
    }
  }
}

// SECTION-CONTENT - обертка для video

.main__section-content {
  position: absolute;
  right: 5%;
  max-width: 740px;
  max-height: 430px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 1200px) {
    position: static;
  }
}

// SECTION-VIDEO

.main__section-video {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

// NEW
// SIZE

.main__section-size {
  position: relative;
  color: transparent;
  will-change: auto;
}

// SERVICE

.main__section-service {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  transition: 0.6s;
  will-change: auto;
  pointer-events: none;
}

// DESCRIPTION

.main__section-description {
  opacity: 0;
  max-width: 407px;
  max-height: 0;
  font-size: 16px;
  line-height: 120%;
  transition: 0.6s;
  color: white;
  margin: 0 auto;
  will-change: auto;
  pointer-events: none;
}

/// NEW