// page-title

.page-title {
  font-weight: 300;
  font-size: 100px;
  line-height: 90%;
  cursor: default;

  br {
    display: none;
  }

  @media (max-width: 1200px) {
    font-size: 80px;
  }

  @media (max-width: 960px) {
    font-size: 63px;
  }

  @media (max-width: 640px) {
    font-size: 45px;
  }

  @media (max-width: 480px) {
    font-size: 36px;
  }
}

.page-title--line-break {
  br {
    display: initial;
  }
}

// FEATURE-TITLE

.page-title__feature-title {
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0.04em;
    left: 0.05em;
    right: 0.05em;
    transform-origin: left;
    transform: scaleX(0);
    background: $color-red;
    height: 0.07em;
    transition: transform 0.6s cubic-bezier(0.65, 0, 0.35, 1);

    @media (max-width: 1200px) {
      display: none;
    }
  }

  &:hover {
    &::before {
      transform: scaleX(1);
    }
  }
}