// page-title

.page-title {
  font-weight: 300;
  font-size: 100px;
  line-height: 90%;

  br {
    display: none;
  }

  @media (max-width: 1200px) {
    font-size: 80px;
  }

  @media (max-width: 960px) {
    font-size: 63px;
  }

  @media (max-width: 640px) {
    font-size: 45px;
  }

  @media (max-width: 480px) {
    font-size: 36px;
  }
}

.page-title--line-break {
  br {
    display: initial;
  }
}