// VARS

$font-main: "NeueMachina";

$color-red: #FF4848;

// PAGE

.page {
  position: relative;
  z-index: 0;
  background: black;
  font-family: $font-main;
  font-weight: 300;
  color: white;
}

// PAGE HEADER

.page__header {
  position: relative;
  z-index: 1;
}

// PAGE HEADER-INNER

.page__header-inner {
  padding: 20px;
  height: 100vh;

  @media (max-width: 480px) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

// PAGE MAIN

.page__main {
  position: relative;
  z-index: 0;
}

// PAGE FOOTER

.page__footer {
  position: relative;
  z-index: 0;
}

// PAGE FOOTER-INNER

.page__footer-inner {
  @media (min-width: 1201px) {
    min-height: 100vh;
  }
}