//variables

$font-main: "NeueMachina";

$color-red: #FF4848;

// page

.page {
  background: black;
  font-family: $font-main;
  color: white;
}

// page header

.page__header {
}

// page header-inner

.page__header-inner {
  position: relative;
  padding: 20px;
  height: 100vh;
  min-height: 100vh;
}

// page main

.page__main {
  padding-top: 360px;
  height: 300vh; // test
  border-top: 2px solid white; // test

  @media (max-width: $to-mobile) {
    padding-top: 90px;
  }
}

.page__footer {
  height: 100vh;
  border-top: 2px solid white;
}