// VARS

$bottom-color: #e12626;
$mid-color: #f53636;
$top-color: #ff4848;

$duration: 1s;

$bottom-func: ease-in;
$mid-func: linear;
$top-func: ease-out;

// PRELOADER

.preloader {
  @include pos-cover();
  position: fixed;
  z-index: 1;
}

.preloader--closing {
  .preloader__item {
    transform: translateX(100%);
  }
}

.preloader--closed {
  display: none;
}

// PRELOADER ITEM

.preloader__item {
  @include pos-cover();
  position: absolute;
  transform-origin: right;
  transition-duration: $duration;
}

.preloader__item--bottom {
  z-index: 1;
  background: $bottom-color;
  transition-timing-function: $bottom-func;
}

.preloader__item--mid {
  z-index: 2;
  background: $mid-color;
  transition-timing-function: $mid-func;
}

.preloader__item--top {
  z-index: 3;
  background: $top-color;
  transition-timing-function: $top-func;
}
