// variables

$font-size: 20px;
$line-height: 90%;

$col-gap: 40px;
$row-gap: 18px;

// mixins

@mixin item-font {
  font-weight: lighter;
  font-size: $font-size;
  line-height: $line-height;
  text-transform: uppercase;
}

// table

.table {
  display: flex;
}

.table--margin-left {
  margin-left: 20px;
}

.table--right-top {
  @media (min-width: 1201px) {
    position: fixed;
    top: 20px;
    right: calc(40px + 265px + 20px);
  }

  @media (max-width: 1470px) {
    right: 20px;
  }
}

// table item

.table__item {
  &:not(:first-child) {
    margin-left: $col-gap;
  }
}

// teble item-name

.table__item-name {
  @include item-font();
}

// table item-value

.table__item-value {
  margin-top: $row-gap;
  @include item-font();
}