// variables

$color-default: green;
$color-gray: #929292;

$indicator-gap: 12px;

$title-height: 30px;
$title-gap: 3px;

// mixins

@mixin indicator-font {
  font-weight: 300;
  font-size: 20px;
  line-height: 90%;
  text-transform: uppercase;

  @media (max-width: 1200px) {
    font-size: 15px;
  }

  @media (max-width: 1200px) {
    font-size: 10px;
  }
}

@mixin indicator-color($color) {
  .time-indicator__mode {
    background: $color;
  }

  .time-indicator__type {
    background: $color;
  }
}

@mixin title-item {
  padding: 0 10px;
  padding-top: 4px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @include indicator-font();

  @media (max-width: 1200px) {
    padding-top: 2px;
  }

  @media (max-width: 1200px) {
    padding: 0 5px;
    padding-top: 2.5px;
  }
}

// time-indicator

.time-indicator--theme--red {
  @include indicator-color($color-red);
}

.time-indicator--theme--gray {
  @include indicator-color($color-gray);
}

.time-indicator--margin-left {
  margin-left: 25px;

  @media (max-width: 640px) {
    margin-left: 15px;
  }
}

// time-indicator title

.time-indicator__title {
  height: $title-height;
  display: flex;

  @media (max-width: 1200px) {
    $title-height: 22px;

    height: $title-height;
  }

  @media (max-width: 640px) {
    $title-height: 15px;

    height: $title-height;
  }
}

// time-indicator mode

.time-indicator__mode {
  @include title-item();
  min-width: 30px;
  background: $color-default;

  @media (max-width: 1200px) {
    min-width: auto;
  }
}

// time-indicator type

.time-indicator__type {
  @include title-item();
  margin-left: $title-gap;
  min-width: 76px;
  background: $color-default;

  @media (max-width: 1200px) {
    min-width: auto;
  }
}

// time-indicator value

.time-indicator__value {
  margin-top: $indicator-gap;
  @include indicator-font();

  @media (max-width: 640px) {
    $indicator-gap: 5px;

    margin-top: $indicator-gap;
  }
}